* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	background: #f5f5f5;
	color: #222;
	padding: 80px 50px;
	max-width: 900px;
	margin: auto;
}

header {
	text-align: center;
	margin-bottom: 30px;
}


@font-face{
	font-family: BebasNeue;
	src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face{
	font-family: Inter;
	src:url('./fonts/Inter-VariableFont_opsz\,wght.ttf');
}




h1{
	font-family: BebasNeue;
	letter-spacing: 0.05rem;
	font-size: 3.5rem;
	line-height: 1;
	margin-bottom: 0.5rem;
	
}

p{
	font-family: Inter;
	font-size: 1rem;
}

label{
	font-family: Inter;
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
}

.subtitle{
	color:#9f9f9f;
}

.filters {
	display: flex;
	justify-content: end;
	margin-bottom: 30px;
	margin-top: 50px;
	flex-wrap: wrap;
}

.filter-group {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	width: 100%;
}

select {
	padding: 2px 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	background: white;
}

.palette-container {
	grid-template-columns: repeat(1, 1fr);
	margin-bottom: 40px;
	display: grid;
	gap: 5px;
}

.color-card {
	border-radius: 12px;
	height: 3rem;
	display: flex;
	align-items: center;
	padding: 10px;
	color: white;
	font-weight: 600;
	font-size: 14px;
}

.actions {
	text-align: center;
}

button {
	padding: 12px 28px;
	background: #222;
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
}

button:hover {
	opacity: 0.85;
}

/* sm */
@media (width >= 40rem){
	h1 {
		font-size: 4.5rem;
	}
	p{
		font-size: 1.3rem;
	}
	.palette-container{
		grid-template-columns: repeat(5, 1fr);
	}
	.color-card{
		height: 140px;
		align-items: flex-end;
		justify-content: center;
	}
	.filters {
		gap:20px;
	}
	.filter-group{
		width: auto;
	}
	select{
		padding: 7px 10px;
	}
}

/* md */
@media (width >= 48rem){
	h1 {
		font-size: 5.5rem;
	}
	p{
		font-size: 1.5em;
	}
}
